*
{
    padding: 0;
    margin: 0;
}
.intro 
{
    display: flex;
    width: 100vw;   
}
.introleft 
{
   border-right: 1px solid black;
   height: 95vh;
   margin-top: 25px;
}
.introright 
{
    height: 95vh;
    margin-top: 25px;
}