*
{
    padding: 0;
    margin: 0;
}
.contactpage 
{
    display: flex;
    width: 100vw;
}
.contactleft 
{
    border-right: 1px solid black;
    height: 95vh;
    margin-top: 25px;
    width: 50vw;
}
.contactright
{
    height: 95vh;
    margin-top: 25px;
    width: 50vw;
    
}