* 
{
    margin: 0;
    padding: 0;
}
.links 
{
    color: black;
    text-decoration: none;
}
.c-location 
{
    font-size: 60px; 
    font-family: 'Cantata One', sans-serif;
    margin-left: 20px;
    margin-right:0.5px;
    padding-top: 200px; 
 
}
.c-left-wrapper
{ 
    padding-left: 100px; 
}
.c-name 
{ 
    font-size: 19px;
    font-weight: 1000;
    font-family: 'Josefin Sans', sans-serif;
}
.c-title-item 
{
    font-size: 15px;
    font-family: 'Cantata One', serif;
}
.c-title-item-and 
{
    font-style: italic;
    font-size: 12px;
    font-family: 'Cantata One', serif;
    margin-bottom: 0px;
}
.c-title-item-dev 
{
    font-size: 15px;
    font-family: 'Cantata One', serif; 
}

.social 
{   

    border-top: 1px solid #000;
    font-size: 29px;
    font-family: 'Cantata One', serif;
    margin-left: 20px;
    margin-top: 200px;
    margin-right: 20px;
    padding-top: 10px;  
    position: sticky;
    
}
@media all and (max-width:1152px)
{
    .social
    {
        margin-top: 125px;
    }
}


