* 
{
  margin: 0;
  padding: 0;
  
}

.blocHorizontal
{
  display: flex;
  flex-direction: row;
  width: 300vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}
.container 
{
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-x: hidden;
  /* pour ie et moz */
  -ms-overflow-style: none;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}
@media all and (max-width:700px) {

  .blocHorizontal
  {

    width: 300vw;
    flex-direction: column;
    height: 100vh;
    transform: rotate(0deg) translateY(0vh);
    transform-origin: top left;
  }
  .container 
{
 
  height: 300vw;
  transform: rotate(0deg) translateX(0vh);
  transform-origin: top left;
  overflow-y:scroll; 
  /* pour ie et moz */
  -ms-overflow-style: none;
  scrollbar-width: none;
}
}
.two
{
  background: #f0ead6;
  height: 100vh;
}